doctype html
html(lang="en")

  head
    link(rel="stylesheet" type="text/css" href="/css/min.css")
    style(type="text/css")
      
    
  body
    .container
      .row
        .col.c9#game
          script(src="js/bundle-game.js")
        .col.c3.debug
          h3 Server
          p#serverDebug
          h3 Client
          p#clientDebug
