doctype html
html(lang="en")

  head
    link(rel="stylesheet" type="text/css" href="/css/min.css")
    style(type="text/css").
      textarea, input[type=text] {
        width: 2em;
        margin: 0.5em;
      }
    script.
      window.state = 'LevelEditor'
  body
    .container
      .row
        .col.c9#game
          script(src="/js/bundle-tools.js")
        .col.c3   
          h3 Levels
          
